@import "tailwindcss";

:root {
    --primary-color: #FFDAB3;
    --secondary-color: #C8AAAA; 
    --tertiary-color: #9F8383;
    --neutral-color: #574964;
    --text-color: #333333; 
    --font-family-body: "DecovarAlpha-VF", sans-serif;
    --font-family-heading: "Rubik Moonrocks", cursive;
    --space-sm: 0.75em; 
    --M-font-size: 18px; 
    --T-font-size: 18px;
    --D-font-size: 20px;
}

@font-face {
    font-family: 'Rubik Moonrocks';
    src: url('/fonts/RubikMoonrocks-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'DecovarAlpha-VF';
    src: url('/fonts/DecovarAlpha-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "BLDA" 114.22, "TRMD" 3.3, "TRMC" 422.71, "SKLD" 249.4, "TRML" 0, "SKLA" 0, "TRMF" 0, "TRMK" 0, "BLDB" 516.3, "WMX2" 382.85, "TRMB" 0, "TRMA" 0, "SKLB" 726.01, "TRMG" 901.05, "TRME" 0;
    font-display: swap; 
}

body {
    background-color: var(--primary-color); 
    color: var(--text-color); 
    font-family: var(--font-family-body); 
}

h1 {
    font-family: var(--font-family-heading); /* Gebruik de variabele */
}

/* Custom bold class is nog steeds prima als je die specifiek wilt houden */
.bold {
    font-weight: bold;
}


a {
    color: var(--neutral-color); 
    text-decoration: underline;
    transition: color 0.2s ease-in-out; 
}

a:hover {
    color: var(--tertiary-color); 
}