:root {
    --background-color-bg: #006b83;
    --text-color: #adafdc;
}

@font-face {
    font-family: 'Rubik Moonrocks';
    src: url('/fonts/RubikMoonrocks-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

:root, html, body {
    background-color: var(--background-color-bg);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    padding: 10px;
    font-size: 24px;
    line-height: 1.2;

    @media only screen and (min-width: 960px) {
    margin: auto;
    width: 50%;
    height: 100vh;
    padding: 10px;
    font-size: 24px;
    line-height: 1.2;
    }
}

h1 {
    font-family: 'Rubik Moonrocks';
    color: var(--text-color);
}